
html {
    background-color: lightgray;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#settings {
    height: 100%;
    width: 300px;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#settings div {
    margin: 10px;
}

.new-game {
    background-color: rgba(255, 252, 249, .6);
    color: rgba(0, 0, 0, .5);
    padding: 16px;
    border-radius: 10px;
}

#top-score {
    opacity: .5;
}

#shameless-plug {
    opacity: .5;
    border-radius: 5px;
}

#legend {
    filter: invert(75%);
}

#game {
    max-width: 500px;
    width: 100%;
    background-color: #FFFCF9;
    border: solid thin rgba(0, 0, 0, .3);
    border-width: 0 1 0 1;
    height: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    align-items: center;
}

.logo {
    text-align: center;
    height: 5%;
    
    background-image: url('logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 252, 249, 1);
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    display: flex;
    width: 100%;
    filter: blur(5);
}

#info {
    height: 53%;
    max-width: 100%;
    width: 500px;
    margin: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tap-viz {
    width: 100%;
    height: 4%;
    margin: 0;
    background-color: #C6E0FF;
    overflow: hidden;

    display: flex;
}


#tap-area {
    max-width: 500px;
    width: 100%;
    border: 0;
    margin: 0;
    height: 33%;
    background-color: #2978A0;
    display: inline-block;

    color: rgba(255, 255, 255, .8);

    text-align: center;
    outline: none;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

#tap-area:selection, #tap-area:active, #tap-area:focus {
    background-color:Transparent;
    color:#2978A0;
    outline: none;
}

.correct {
    display: block;
    position: absolute;
    background-color: rgba(0, 127, 254, 1);
    color: rgba(255, 255, 255, 1);
    padding: 4px;
    border-radius: 4px;
    min-width: 50px;
    left: 33%;
    top: 33%;
    opacity: 0;
    transform: translate(50%, 50%);

    animation-name: float-right;
    animation-duration: 3s;
}

.incorrect {
    display: block;
    position: absolute;
    background-color: rgba(254, 34, 0, 1);
    color: rgba(255, 255, 255, 1);
    padding: 4px;
    border-radius: 4px;
    min-width: 50px;
    left: 33%;
    top: 33%;
    opacity: 0;
    transform: translate(50%, 50%);

    animation-name: float-left;
    animation-duration: 3s;
}

@keyframes float-right {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .8;
    }
    100% {
        /* top: 10%; */
        opacity: 0;
        transform: translate(50%, -1000%) translate3D(100px, 100px, 0);
    }
}

@keyframes float-left {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .8;
    }
    100% {
        /* top: 10%; */
        opacity: 0;
        transform: translate(50%, -1000%) translate3D(-100px, 100px, 0);
    }
}

.phrase {
    border-radius: 8px;
    background-color: rgba(255, 94, 91, .8);
    width: 55%;
    padding: 2em;
    margin: auto;
    clear: both;
    text-align: center;
    color: rgba(255, 255, 255, .8);
    text-transform: uppercase;
    display: block;
    overflow: hidden;
    background: linear-gradient(-90deg, rgba(255, 94, 91, .8), rgba(255, 94, 91, .8) 50%, rgba(255, 94, 91, .5) 50%, rgba(255, 94, 91, .5) 100%);
    background-position: 100%;
    background-size: 200% 200%;
    animation-timing-function: linear;
}

.timer {
    animation-name: timer;
}

@keyframes timer {
    0% {
        background-position-x: 100%;
    }
    100% {
        background-position-x: 0%;
    }
}

.last-session-result {
    border-radius: 8px;
    background-color: rgba(0, 127, 254, 1);
    width: 50%;
    display: block;
    padding: 2em;
    margin: auto;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    opacity: 0;
}

#menu-button {
    position: fixed;
    top: 24px;
    left: 24px;
    z-index: 1000;
    display: none;
}

#nav-toggle {
    text-decoration: none;
    color: #2978A0;
}

@media only screen and (max-width: 500px) {
    #settings {
        display: none;
    }

    #menu-button {
        display: block;
    }

    #game {
        width: 100%;
        border: 0;
    }
}
